
<% include ../partials/header %>

    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
					  <div class="inside">
					  	<h2 class="h1F">Edita la galería</h2>
                            <form method="POST" action="/gallery/<%=gallery._id%>?_method=PUT" enctype="multipart/form-data">					       
                            <div class="form-group">
					            <label>Título</label>
					            <input type="text" class="form-control" value="<%=gallery.title%>" name="gallery[title]">   
					        </div>
					        <div class="form-group">
					            <label>Portada</label>
					            <input type="file" class="form-control"  name="file" required>
					        </div>
					        
                            <button class="btn btn-primary">Aceptar</button>
                        </form>
					  </div>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>
	
<% include ../partials/footer %>
