<!DOCTYPE html>
<html>
<head>
	<title>Atlamaya</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/general.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
    
<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			     </button>
			     
				<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Atlamaya</a>
			</div>

			<div class="collapse navbar-collapse" id="navBar">
				<ul class="nav navbar-nav">
					<li><a href="estados.html"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Estados Financieros</a></li>
					<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Directorio <span class="caret"></span></a>
			          	<ul class="dropdown-menu">
				            <li><a href="/table">Mesa Directiva</a></li>
				            <li><a href="/security">Seguridad</a></li>
				            <li><a href="/maintenance">Mantenimiento</a></li>
				        </ul>
			        </li>

					<li><a href="pagoMantenimiento.html"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Pago de Mantenimiento</a></li>
					<li><a href="reglamentos.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Reglamentos CDMX</a></li>
					<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Multimedia <span class="caret"></span></a>
			          	<ul class="dropdown-menu">
				            <li><a href="dirMesa.html">Fotos </a></li>
				            <li><a href="dirSeguridad.html">Archivo Hist&oacute;rico</a></li>
				            
				        </ul>
			        </li>
					<li><a href="anuncios.html"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Anuncios</a></li>
					 
					  
				</ul>
				
			</div>
		</div>
	</nav>