
<% include ../partials/header %>

    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
					  <div class="inside">
					  	<h2 class="h1F">Agregar un elemento de seguridad</h2>
                            <form method="POST" action="/security" enctype="multipart/form-data">					       
                            <div class="form-group">
					            <label>Nombre</label>
					            <input type="text" class="form-control" placeholder="Nombre" name="security[name]">   
					        </div>
					        <div class="form-group">
					            <label>Imagen</label>
					            <input type="file" class="form-control" placeholder="Imagen" name="file" required>
					        </div>
					        <div class="form-group">
					            <label>Trabajo</label>
					            <input type="text" class="form-control" placeholder="Trabajo" name="security[job]">
					        </div>
                            <button class="btn btn-primary">Aceptar</button>
                        </form>
					  </div>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>
	
<% include ../partials/footer %>
