<% include ../partials/header %>

<form method="POST" action="/security">
    <input type="text" placeholder="Nombre" name="security[name]">
    <input type="text" placeholder="Foto" name="security[image]">
    <input type="text" placeholder="Trabajo" name="security[job]">
    
    <button>Agregar</button>
</form>


<% include ../partials/footer %>