<% include ../partials/header %>


<form method="POST" action="/table/<%=table._id%>?_method=PUT">
    <input type="text" value="<%=table.name%>" name="table[name]">
    <input type="text" value="<%=table.job%>" name="table[job]">
    <input type="text" value="<%=table.image%>" name="table[image]">
    <button>Aceptar</button>
</form>

<% include ../partials/footer %>
