<% include ../partials/header %>

<form method="POST" action="/table">
    <input type="text" placeholder="Nombre" name="table[name]">
    <input type="text" placeholder="Trabajo" name="table[job]">
    <input type="text" placeholder="Foto" name="table[image]">
    <button>Agregar</button>
</form>


<% include ../partials/footer %>