<h1>Administrador</h1>

<a href="/news/new">Agregar noticia</a>
<a href="/register">Agregar Usuario</a>
<a href="">Tabla de usuarios</a>
<a href="">Agregar Pago</a>
<a href="">Mesa directiva</a>
<a href="">Mantenimineto</a>
<a href="">Reglamentos</a>
<a href="">Estados financieros</a>
<a href="">Multimedia</a>
