<% include partials/header %>
	<div class="container">
		<div class="jumbotron">
  			<h1>Panel de administrador</h1>
		</div>
	</div>

<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <br>
        <h4><a href="/news/new">Agregar noticia</a></h4>
        <br>
         <h4><a href="/register">Agregar Usuario</a></h4>
        <br>
         <h4><a href="/users/table">Tabla de usuarios</a></h4>
        <br>
         <h4><a href="/payments/admin">Todos los pagos</a></h4>
        <br>
         <h4><a href="/payments/new">Agregar Pago</a></h4>
        
    </div>
    <div class="col-lg-4"></div>



</div>

<% include partials/footer %>
