<h1>Administrador</h1>

<a href="/news/new">Agregar noticia</a>
<a href="/register">Agregar Usuario</a>
<a href="/users/table">Tabla de usuarios</a>
<a href="/payments/admin">Todos los pagos</a>
<a href="/payments/new">Agregar Pago</a>
<a href="/table">Mesa directiva</a>
<a href="/maintenance">Mantenimineto</a>
<a href="/regulations">Reglamentos</a>
<a href="/financial">Estados financieros</a>
<a href="">Multimedia</a>
