<% include partials/header %>
<div id="first">
    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                
                    <h1 class="title">Bienvenido a Atlamaya</h1>
                    <img src="logo.png">
               
                
            </div>
            <div class="col-xs-4"></div>
         </div>
    </div>
</div>


<% include partials/footer %>