<% include partials/header %>
<div id="first">
    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                
                    <h1 class="title">Bienvenido a Atlamaya</h1>
                    <img src="logo.png">
               
                
            </div>
            <div class="col-xs-4"></div>
         </div>
    </div>
</div>
<div id="news">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-6">
    			<div class="thumbnail">
    				<p class="text-right">13/04/16</p>
    	    		<img src="http://www.diariobahiadecadiz.com/noticias/wp-content/uploads/2016/04/obrastuberiascallevaldeselpabri16.jpg">
    	        	<div class="caption">
    	        		<h3>Cambio de tuber&iacute;a</h3>
    	        		<p>Hola a todos!
    						Esta semana se estar&aacute; haciendo el cambio de la tuber&iacute;a principal por lo cual no habr&aacute; paso por la calle principal.
    						Agradecemos su comprensi&oacute;n.
    					</p>
    				</div>
    	    	</div>
    		</div>
    	</div>
    </div>
</div>

<% include partials/footer %>