<html>
<head>
	<title>Atlamaya</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>    
    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
						<h2 class="h1F">&#161Bienvenido a Atlamaya!</h2>
						<h4>Por favor ingresa tus datos para acceder a la p&aacutegina</h4>
						<form method="POST" action="/login">
							<div class="form-group">
							 	<label for="exampleInputEmail1">Nombre de Usuario</label>
							 	<input type="text" class="form-control" placeholder="Tlapacoya7" name="username" required>
							</div>
					 		<div class="form-group">
								<label for="exampleInputPassword1">Contrase&ntilde;a</label>
								<input type="password" class="form-control" placeholder="Contraseña" name="password" required>
					 		</div>
						
						
    						<button class="btn btn-default">Ingresar</button>
    						
						</form>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>