<h1>Login Form</h1>

<form method="POST" action="/login">
    <input type="text" placeholder="Nombre de Usuario" name="username">
    <input type="password" placeholder="Contraseña" name="password">
    <button>Entrar</button>
</form>