<h1>Register Form</h1>

<form method="POST" action="/register">
    <input type="text" placeholder="Nombre de Usuario" name="username">
    <input type="password" placeholder="Contrase&ntilde;a" name="password">
    <input type="text" placeholder="Direcci&oacute;n" name="adress">
    <input type="number" placeholder="Tel&eacute;fono" name="phone">
    <input type="text" placeholder="Referencia" name="reference">
    <input type="checkbox" placeholder="Bloqueado" name="blocked">Bloqueado
    <input type="checkbox" placeholder="Administrador" name="admin">Administrador
    <button>Añadir</button>
</form>