body{
	background: url(http://info7.blob.core.windows.net.optimalcdn.com/images/2016/11/11/631525_parque-los-olivos.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	 background-attachment: fixed;
	font-family: 'Abel', sans-serif;
	padding-top: 100px;
}

.butt{
    padding-top: 3px;
}


/*.line{
    border-right: 1px solid white;
     position: absolute;
     top: 50%;
     bottom: 0;
}*/






.navbar{
	background: black;
	font-family: 'Quicksand', sans-serif;
	opacity: 0.7;
	margin-top: 15px;
	
    
}

.dropdown-menu>li>a{
    background: black;
    font-family: 'Quicksand', sans-serif;
    color: white;
    opacity: 1;
    
}

.dropdown-menu{
    padding: 0 0;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

.jumbotron{
    padding-top: 100px;
	background: #5E88FC;
	color:white;
	font-family: 'Pacifico', cursive;
}

.row {
    display: table;
    display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display:  flex;
  	flex-wrap: wrap;
    
}


@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .line{
    border-right: 0px solid white;
	line-height: 2px;
    }

    .collapsing {
        overflow: hidden!important;
    }
}



