#home{
    padding: 0;
}
#first{
	height: 50vw;
    background: url(http://info7.blob.core.windows.net.optimalcdn.com/images/2016/11/11/631525_parque-los-olivos.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

.title{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    
}

.butt{
    padding-bottom: 5px;
    padding-top: 2px;
    
}

.buttrigth{
    padding-right: 55px;
}


#news{
    color: white;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    
}


.home{
    border:0;
}
.home img {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.separador{
    padding-top: 5px;
    padding-bottom: 50px;
}


