#first{
	height: 50vw;
}

.title{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 6vw;
    margin: auto;
    padding-top: 6vw;
    text-align: center;
    
}

.thumbnail{
    background: black;
    color: white;
}



