body{
	padding-top: 150px;
	background: url(http://info7.blob.core.windows.net.optimalcdn.com/images/2016/11/11/631525_parque-los-olivos.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

.jumbotron{
    opacity: 0.9;
    background: #779CD1;
    color: white;
}

#h1F{

	font-size: 120%;
}

