<% include ../partials/header %>


<form method="POST" action="/payments/<%=payment._id%>?_method=PUT">
     <input type="number" value="<%=payment.quantity%>" name="payment[quantity]">
    <input type="text" value="<%=payment.description%>" name="payment[description]">
    <button>Aceptar</button>
</form>

<% include ../partials/footer %>
