<% include ../partials/header %>

<form method="POST" action="/ad">
    <input type="text" placeholder="Título" name="ad[title]">
    <input type="text" placeholder="Contenido" name="ad[content]">
    <input type="text" placeholder="Foto" name="ad[image]">
    <button>Agregar</button>
</form>


<% include ../partials/footer %>