<% include ../partials/header %>

    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
					  <div class="inside">
					  	<h2 class="h1F">Agrega un nuevo anuncio</h2>
					    <form method="POST" action="/ad">
					        <div class="form-group">
					            <label>Título</label>
					            <input type="text" class="form-control" placeholder="Título" name="ad[title]">   
					        </div>
					        <div class="form-group">
					            <label>Contenido</label>
					            <input type="text" class="form-control" placeholder="Contenido" name="ad[content]">
					        </div>
					        <div class="form-group">
					            <label>Imagen</label>
					            <input type="text" class="form-control" placeholder="Imagen" name="ad[image]">
					        </div>
					         <input type="hidden" value="<%=user.address%>" name="ad[creator]">
                            <button class="btn btn-primary">Agregar</button>
                        </form>
					  </div>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>
	
<% include ../partials/footer %>