<% include ../partials/header %>
<div class="container">
    <div class="thumbnail">
        <a href="/ad">Regresar a anuncios</a>
        <h1 id="title"><%= ad.title %></h1>
        <img src="<%= ad.image %>">
        <p><%= ad.content %></p>
    </div>
    
    
</div>
<% include ../partials/footer %>