<% include ../partials/header %>

    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
					  <div class="inside">
					  	<h2 class="h1F">Editar eelemento de mantenimineto</h2>
                            <form method="POST" action="/maintenance/<%=maintenance._id%>?_method=PUT" enctype="multipart/form-data">					       
                            <div class="form-group">
					            <label>Título</label>
					            <input type="text" class="form-control" value="<%=maintenance.name%>" name="maintenance[name]">
					        </div>
					        <div class="form-group">
					            <label>Imagen</label>
					            <input type="file" class="form-control" value="<%=maintenance.image%>" name="file" required>
					        </div>
					        <div class="form-group">
					            <label>Trabajo</label>
					            <input type="text" class="form-control" value="<%=maintenance.job%>" name="maintenance[job]">
					        </div>
					       
					        
                            <button class="btn btn-primary">Aceptar</button>
                        </form>
					  </div>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>
	
<% include ../partials/footer %>

