<% include ../partials/header %>

<form method="POST" action="/maintenance">
    <input type="text" placeholder="Nombre" name="maintenance[name]">
    <input type="text" placeholder="Foto" name="maintenance[image]">
    <input type="text" placeholder="Trabajo" name="maintenance[job]">
    
    <button>Agregar</button>
</form>


<% include ../partials/footer %>