<% include ../partials/header %>

<form method="POST" action="/maintenance">
    <input type="text" placeholder="Nombre" name="maintenance[name]">
    <input type="text" placeholder="Foto" name="maintenance[image]">
    <span>Trabajo</span>
    <select name="maintenance[job]"> 
        <option value="true">Seguridad</option>
        <option value="false">Mantenimiento</option>
    
    </select>
    <button>Agregar</button>
</form>


<% include ../partials/footer %>