

<% include ../partials/header %>

    <div class="container">
			<div class="row">	
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="jumbotron">
					  <div class="inside">
					  	<h2 class="h1F">Agregar nueva noticia</h2>
                            <form method="POST" action="/news" enctype="multipart/form-data">					       
                            <div class="form-group">
					            <label>Título</label>
					            <input type="text" class="form-control" placeholder="Título" name="news[title]">   
					        </div>
					        <div class="form-group">
					            <label>Imagen</label>
					            <input type="file" class="form-control" placeholder="Imagen" name="file">
					        </div>
					        <div class="form-group">
					            <label>Contenido</label>
					            <input type="text" class="form-control" placeholder="Contenido" name="news[content]">
					        </div>
                            <button class="btn btn-primary">Aceptar</button>
                        </form>
					  </div>
					</div>	
				</div>	
				<div class="col-sm-2"></div>
			</div>
	</div>
	
<% include ../partials/footer %>
