<% include ../partials/header %>
<div class="container">
    <div class="thumbnail">
        <h1 id="title"><%= news.title %></h1>
        <img src="<%= news.image %>">
        <p><%= news.content %></p>
    </div>
    
    
</div>
<% include ../partials/footer %>